$cardShadow1: 0px 4px 10px 0px #00000030;
$cardShadow2: 0px 16px 32px 0px #00000033;
$cardShadow3: 0px 4px 39px 11px rgba(0, 0, 0, 0.1);
$bannerShadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.37);
$buttonShadow1: 0px 8px 16px 8px #00000033;
$dropdownShadow1: -1px -1px 29px 11px rgba(0,0,0,0.31);;
